html, body {
  overscroll-behavior: none;
  overflow: hidden;
  height: 100%;
  touch-action: none;
}


body {
  text-align: center;
  font-family: Arial, sans-serif;
  /* background: #f9f9f9; */
  background-image: url('chieucoi.jpg');
  background-size: cover;         /* Ảnh giãn ra full màn hình */
  background-repeat: no-repeat;   /* Không lặp lại */
  background-position: center;    /* Căn giữa ảnh */
  background-attachment: fixed;   /* Ảnh nền cố định khi cuộn */
}


#dice-area {
  position: relative;
  width: 300px;  /* hoặc theo kích thước ảnh đĩa */
  height: 300px;
  margin: auto;
  user-select: none;
  overflow: visible;
  border: none;
}

#plate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}


.dice {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: grab;
  z-index: 2; /* Nằm trên đĩa, dưới bát */
}

#bowl {
  position: absolute;
  width: 65%;     /* hoặc 260px tùy bạn */
  height: auto;
  cursor: grab;
  z-index: 3;
}



#message {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease;
  position: relative;   /* hoặc absolute nếu bạn muốn đặt ở vị trí cụ thể */
  z-index: 1000;         /* phải lớn hơn bát (z-index: 3) */
}


.tai {
  color: red;
}

.xiu {
  color: green;
}


#roll-button {
  background-color: #28a745;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 20px;
  position: relative;
  z-index: 1001;

  /* Ngăn chọn chữ khi giữ chuột */
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE/Edge */
}


#roll-button:hover {
  background-color: #218838;     /* Màu khi hover */
  transform: scale(1.05);        /* Phóng to nhẹ khi hover */
}

#roll-button:active {
  transform: scale(0.97);        /* Nhỏ lại nhẹ khi nhấn */
}

#probability-control {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

#prob-slider {
  width: 80%;
  max-width: 400px;
}

#prob-label {
  margin: 0 0 6px;
  font-weight: bold;
}


/* Rung bát đĩa */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

.shaking {
  animation: shake 0.3s infinite;
}


#sound-toggle {
  position: fixed;
  top: 10px;
  right: 10px; /* góc trên bên phải */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 1002;
}

#sound-toggle svg {
  width: 28px;
  height: 28px;
  stroke: #333;
}

#icon-sound-off svg {
  stroke: red;
}
